

.datalist-portion{
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-letter);
  width: 100%;
  margin: 30px 0;
}

.datalist h1{
  width: fit-content;
  font-size: 3em;
  font-weight: 500;
}

.datalist-info, .datalist-info-pie, .datalist-pie-label{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.datalist-info{
  justify-content: space-between;
}

.datalist-pie-info{
  width: 100%;
}

.datalist h2{
  width: fit-content;
}

.datalist-pie{
  width: 200px;
}

.datalist-pie-color{
  width: 20px;
  height: 20px;
  background-color: rgb(147, 189, 147);
  border-radius: 50%;
  margin: 0 20px;
}

