
.datasheet{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
  width: 100%;
}

.datasheet-section{
  width: 90%;
  margin: 150px 0;
  background-color: var(--primary-letter);
  padding: 30px;
}

.page-datasheet-back-div{
  position: absolute;
  top: 0;
  left: 50px;
  color: var(--primary);
  font-size: 40px;
}
