button{
  background-color: transparent;
  border: none;
  font-size: 30px;
}

.page-home{
  width: 100vw;
  min-height: 100vh;
}

.page-home-top{
  background-color: var(--primary);
  color: var(--primary-letter);
  padding: 15px;
  border-radius: 0 0 5% 5%;
}
.page-home-top button{
  color: var(--primary-letter);
  border: 1px solid var(--primary-letter);
}

.datechanger{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 70px;
}

.page-home-mealbars{
  padding: 50px 60px;
}

.page-home-configure{
  position: absolute;
  top: 0;
  right: 50px;
}
.page-home-configure button{
  font-size: 80px;
  color: white;
  transition: 0.2s all linear;
}
.page-home-configure button:hover{
  transform: rotate(30deg);
}
.page-home-configure button:focus{
  border: none;
  outline: none;
}