.page-meal{
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page-meal-top{
  background-color: var(--primary);
  color: white;
  padding: 80px 50px 60px 50px;
  border-radius: 0 0 5% 5%;
  width: 100%;
}

.page-meal-progress{
  margin: 0 auto;
  width: fit-content;
}

.page-meal-top h2{
  font-size: 35px;
}

.page-meal-search-link{
  width: 100%;
  display:flex;
  justify-content: center;
}

.page-meal button{
  background-color: var(--primary);
  border-radius: 50px;
  width: 60%;
  color: white;
  font-weight: 500;
  font-size: 40px;
  margin: 50px auto;
  padding: 30px 0;
  transition: 0.1s linear all;
}
.page-meal button:hover{
  background-color: var(--primary-dark);
}

.page-meal-datalist, .page-meal-foodlist{
  width: 100%;
}

.page-meal-back-div{
  position: absolute;
  top: 0;
  left: 50px;
  color: white;
  font-size: 40px;
}