.page-meal{
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page-meal-top{
  background-color: var(--primary);
  color: white;
  padding: 80px 50px 60px 50px;
  border-radius: 0 0 5% 5%;
  width: 100%;
}

.page-meal-progress{
  margin: 0 auto;
  width: fit-content;
}

.page-meal-top h2{
  font-size: 35px;
}

.page-meal-search-link{
  width: 100%;
  display:flex;
  justify-content: center;
}


.page-meal-datalist, .page-meal-foodlist{
  width: 100%;
}
.page-meal-foodlist{
  display: flex;
  flex-direction: column;
  align-items: center;
}

