@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
  --primary: rgb(147, 189, 147);
  --primary-letter: white;
  --light-gray: rgb(235, 235, 235);
  --gray: rgb(216, 216, 216);
  --black: rgb(100, 100, 100);
}


* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


 a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}